<div class="border-form-div">
  <h2>Forgot Your Password?</h2>
    <%= devise_error_messages! %>
    <% flash.each do |key, value| %>
       <div class="flash <%= key %>"><%= value %></div>
  <% end %>
<%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post }) do |f| %>
  <%= render "devise/shared/error_messages", resource: resource %>
 <%= devise_error_messages! %>
      <div class="form-group">
        <%= f.email_field :email, :autofocus => true, autocomplete: "Email", :placeholder => 'Email address', class: "form-control"  %>
      </div>


       <div class="form-group">
        <%= f.submit "Email reset",:class=>'btn btn-primary' %>
      </div>
<%= link_to "Back to Login", :back %>
<% end %>

